@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Intel:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Intel', sans-serif; /* Altera a fonte para 'Intel' */
}

body * {
  box-sizing: border-box;
}

.main-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  color: #77ffc0;
  font-size: 2.5vw;
}

.left-login-image {
  width: 35vw;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #3c4e3a;
  border-radius: 20px;
}

.card-login > h1 {
  color: #FFFFFF;
  font-weight: 800;
  margin: 0;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #ffffff;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield > label {
  color: #ED6F0F;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.btn-login {
  width: 100%;
  padding: 16px 0;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #ffffff;
  background: #ED6F0F;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-login:active {
  transform: translateY(4px);
}

.additional-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.additional-options label {
  color: #ffffff;
  font-size: 14px;
  margin-right: 50px;
}

.additional-options a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ED6F0F;
  padding-bottom: 5px;
  font-size: 14px;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link p {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .signup-link a {
    color: #ED6F0F;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
  }

  .signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-divider {
  width: 100%;
  height: 1px;
  background-color: #ED6F0F;
  margin-bottom: 10px;
}

.signup-link p {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 5px;
}

.signup-link a {
  color: #ED6F0F;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}
  

@media only screen and (max-width: 950px){
  .card-login{
    width: 85%;
  }
}

@media only screen and (max-width: 600px){
  .main-login{
    flex-direction: column;
  }

  .left-login > h1 {
    display: none;
  }

  .left-login {
    width: 100%;
    height: auto;
  }

  .right-login {
    width: 100%;
    height: auto;
  }

  .left-login-image {
    width: 40vh;
  }

  .card-login {
    width: 90%;
  }
}

body {
  margin: 0;
  font-family: 'Intel', sans-serif;
}

body * {
  box-sizing: border-box;
}

/* ... (CSS tela cadastro) */

.main-cadastro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card-cadastro {
    width: 30%;
    padding: 30px;
    background: #3c4e3a;
    border-radius: 20px;
    text-align: center;
}
  
.card-cadastro h2 {
    color: #ED6F0F;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: left;
}

.card-cadastro h3 {
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
}
  
.form-field {
    margin-bottom: 20px;
}
  
.name-fields {
    display: flex;
    justify-content: space-between;
}
  
.name-field {
    width: 48%;
}
  
.form-field label {
    color: #ED6F0F;
    display: block;
    margin-bottom: 8px;
}
  
.form-field input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.form-field input::placeholder {
    color: #ED6F0F;
}
  
.btn-continuar1 {
    width: 50%;
    padding: 16px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #ED6F0F;
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
.btn-continuar1:active {
    transform: translateY(4px);
}

.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
  
.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ED6F0F;
    color: #00211b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 0 10px;
    position: relative;
}
  
.circle.active {
    background-color: #f5f5f5;
}
  
.line {
    height: 4px;
    width: 50px;
    background-color: #ED6F0F;
}